@model BaZiCalculator.ViewModels.HomeViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

@using (Html.BeginForm("Calculator", "Home"))
{

<table>
    <tr>
        <th>Calculator</th>
    </tr>

    <tr>
        <td>Birth Date:</td>
        <td>@Html.TextBoxFor(m => m.BirthDate, new { placeholder = "MM/DD/YYYY"})  @Html.ValidationMessageFor(m => m.BirthDate)</td>
        <td></td>
        
    </tr>
    <tr>
        <td>Birth Time:</td>
        <td>@Html.TextBoxFor(m => m.BirthTime, new { @Value = 0, placeholder = "Military time (0-2400)" }) @Html.ValidationMessageFor(m => m.BirthTime)</td>
        <td>Military time (0-2400)</td>
    </tr>
    <tr><td><button type="submit">Calculate</button></td></tr>

</table>
}

